:root{
  --color-primary: #22c55e;      /* main (money) */
  --color-secondary: #3b82f6;    /* trust */
  --color-text-muted: #64748b;
  --color-success: #22c55e;
  --color-danger: #ef4444;

  --bg_color: #e5f6fa;
  --headerbox_front: #98ceac;
  --headerbox_end: #22c55e;
  --header_font: #0f172a;
  --header_badge_font: #f1f9f9;
  --box_color: #d3f2f9 ;

  --btn_front: #d3f2f9;
  --btn_end: #4bb9d1;
  --btn_font: #185b6a;
}

* {
  box-sizing: border-box;
}


html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  background: linear-gradient(180deg, #cbe4f5 0%, #ffffff 100%);
  color: #0f172a;
}

body {
  min-height: 100vh;
}

.page-wrap {
  min-height: 100vh;
  padding: 32px 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Logo */
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  height: 50px;
  width: auto;
}

/* HEADER */
.header {
  /*background: rgba(255, 255, 255, 0.7);*/
  backdrop-filter: blur(10px);
  border-radius: 24px;
  padding: 26px;
  margin-bottom: 28px;
  /*box-shadow: 0 12px 30px rgba(15, 23, 42, 0.08);*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.header h1 {
  margin: 0 0 6px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.header p {
  margin: 0;
  color: #64748b;
  font-size: 14px;
}

.header-badge {
  background: linear-gradient(135deg, var(--headerbox_front), var(--headerbox_end));
  color: var(--header_badge_font);
  padding: 10px 16px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 600;
  box-shadow: 0 6px 16px rgba(99, 241, 123, 0.3);
}

/* GRID */
.dashboard-space {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.summary-grid,
.asset-grid,
.goal-grid,
.two-col-grid {
  display: grid;
  gap: 18px;
}

.summary-grid {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.asset-grid {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.goal-grid {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.two-col-grid {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

/* CARDS */
.summary-card,
.card {
  background: var(--box_color);
  backdrop-filter: blur(8px);
  border-radius: 22px;
  padding: 22px;
  box-shadow: 0 10px 24px rgba(15, 23, 42, 0.06);
  transition: all 0.25s ease;
}

.summary-card:hover,
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 18px 36px rgba(15, 23, 42, 0.12);
}

/* DARK CARD */
.summary-dark {
  background: linear-gradient(135deg, #98ceac, #22c55e);
  color: var(--header_badge_font);
}

.summary-dark p {
  color: var(--header_badge_font);
}

/* TEXT */
.summary-card h2 {
  margin: 12px 0 0;
  font-size: 38px;
  font-weight: 700;
}

.asset-type {
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--header_font);
  font-weight: 600;
}

.asset-emoji {
  font-size: 34px;
}

.asset-amount {
  font-size: 30px;
  font-weight: 700;
  margin: 12px 0;
}

.asset-amount span {
  font-size: 14px;
  color: #64748b;
}

/* FLEX */
.asset-top,
.goal-top,
.transaction-item {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.muted {
  color: #64748b;
}

/* DEADLINE BADGE */
.deadline {
  /* background: #eef2ff; */
  color: var(--btn_font);
  border-radius: 9px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 600;
}

/* PROGRESS */
.progress-bar {
  width: 100%;
  height: 12px;
  margin-top: 5px;
  background: #c9e7f2;
  border-radius: 999px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, var(--headerbox_front), var(--headerbox_end));
  transition: width 0.3s ease;
}

.goal-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

/* FORM */
.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 14px;
}

input,
select {
  width: 100%;
  padding: 12px 14px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  background: white;
  transition: all 0.2s ease;
}

input:focus,
select:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
  outline: none;
}

/* BUTTON start */
.primary-btn {
  margin-top: 16px;
  background: linear-gradient(135deg, var(--btn_front), var(--btn_end));
  color: var(--btn_font);
  border: none;
  border-radius: 14px;
  padding: 7px 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.primary-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(99, 102, 241, 0.3);
}
/* ARROW BUTTON */
.arrow-btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  min-width: 190px;
  padding: 7px 15px;
  margin-top: 16px;
  margin-bottom: 10px;

  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  color: var(--btn_font);
  border-radius: 999px;
  border: none;

  /* box-shadow: 0 8px 18px rgba(57, 184, 234, 0.22); */
  transition: all 0.25s ease;
}

/* .arrow-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 24px rgba(57, 184, 234, 0.28);
} */

.arrow-circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.95);
  color: #27b8d7;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-weight: 800;
  line-height: 2;

  flex-shrink: 0;
  transition: transform 0.25s ease;
}

.arrow-btn:hover .arrow-circle {
  transform: translateX(-2px);
}
/* Button end */

/* TRANSACTIONS */
.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.transaction-item {
  border-radius: 16px;
  padding: 14px;
  background: #f8fafc;
  transition: 0.2s;
}

.transaction-item:hover {
  background: var(--btn_end);
}

/* EXTRA */
.section-head-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-section {
  margin-bottom: 24px;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(0,0,0,0.05);
}

/* CONTAINER */
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo img {
  height: 42px;
}

.logo-text {
  font-size: 20px;
  font-weight: 700;
  color: #065f46;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 20px;
}

/* BASE LINK */
.nav-link {
  position: relative;
  text-decoration: none;
  color: #64748b;
  font-weight: 500;
  padding: 6px 0;
  transition: color 0.25s ease;
}

/* HOVER COLOR */
.nav-link:hover {
  color: #065f46;
}

/* UNDERLINE (hidden by default) */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 0%;
  height: 3px;

  background: linear-gradient(90deg, #98ceac, #22c55e);
  border-radius: 999px;

  transition: width 0.3s ease;
}

/* HOVER ANIMATION */
.nav-link:hover::after {
  width: 100%;
}

/* ACTIVE LINK */
.nav-link.active {
  color: #065f46;
  font-weight: 600;
}

/* ACTIVE UNDERLINE */
.nav-link.active::after {
  width: 100%;
}

/* MOBILE */
@media (max-width: 640px) {
  .nav-links {
    gap: 6px;
  }

  .nav-link {
    padding: 6px 10px;
    font-size: 14px;
  }

  .logo-text {
    display: none; /* only icon on mobile */
  }
}

.section-head-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.link-btn {
  text-decoration: none;
  font-weight: 600;
  color: var(--btn_font);
}

.page-section {
  margin-bottom: 24px;
}

/* Footer Start */

/* Footer End */
